<!-- ko with: home -->
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div> 
        <h1> Thanks. You are Regitered and logged in as Click on Logout </h1> 
    </div>
}
else
{
    <div>
        <h1> You are not Registered or not Logged In </h1>
    </div>

}


<!-- /ko -->
